@import 'modules/status';
@import 'modules/button';
@import 'modules/nav';
@import 'pages/users';

// Main
body {
  padding-top : 80px;
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.container h1:first-of-type {
  margin-top : 0;
}

.page-header {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ddd;
}

